.about-me {
  padding-inline-start: 24px;

  p {
    color: var(--desc-color);
    font-size: 15px;
    font-weight: 500;
  }

  ul {
    margin-top: 1rem;

    li {
      color: var(--desc-color);
      font-size: 14px;

      &+li {
        margin-top: 0.5rem;
      }
    }
  }
}