@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  /* --surface-color: #fffaec;
  --primary-color: #578e7e;
  --secondary-color: #8ce7cd;
  --accent-color: #f5ecd5;
  --text-color: #3d3d3d; */
  --surface-color: #f9f5eb;
  --accent-color: #e4dccf;
  --primary-color: hsl(0, 86%, 72%);
  --primary-color-dark: hsl(0, 55%, 50%);
  --secondary-color: #6eb2ff;
  --text-color: hsl(0, 0%, 11%);
  --text-light-color: hsl(0, 0%, 22%);
  --border-color: #dac0a3;
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #181c14;
    --accent-color: #3c3d37;
    --primary-color: #697565;
    --secondary-color: #ecdfcc;
    --text-color: hsl(30, 3%, 86%);
    --text-light-color: hsl(40, 2%, 68%);
    --border-color: #3d3d3d;
  }
}

@theme inline {
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-primary-dark: var(--primary-color-dark);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text: var(--text-color);
  --color-text-light: var(--text-light-color);
  --color-border: var(--border-color);
  --border-rounded-theme: var(--border-radius);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-poppins);
  --font-heading: var(--font-dancing);
  --width-dialog: 37.5rem;
  --aspect-ratio-third_one: 3 / 1;
  --max-height-dialog: 70vh;
  --min-height-about-me: 612px;
  --min-height-hobby: 112px;
}

body {
  margin: 0;
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

.stepper {
  box-shadow: 2px 2px 0 #000;
  border: 4px solid #000;
  border-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.only-print {
  display: none;
}

@media print {
  body {
    margin: 0;
    padding: 20px;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: var(--color-surface);
  }
  .card {
    box-shadow: none !important;
    border: none !important;
  }

  .no-print {
    display: none; /* Hide elements like navbars or buttons */
  }

  .only-print {
    display: block;
  }

  .print-container {
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .page-break {
    page-break-before: always; /* Old browser support */
    break-before: page; /* Modern browsers */
  }

  /* .stepper-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    border-color: rgb(59 130 246);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-right-width: 16px;
    border-top-width: 16px;
    border-bottom-width: 16px;
  } */

  .profile-name {
    -webkit-font-smoothing: none;
  }
}
