@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --surface-color: #f1f5f9;
  --accent-color: #ffffff;
  --primary-color: hsl(158, 76%, 64%);
  --secondary-color-dark: hsl(212, 36%, 46%);
  --secondary-color: hsl(212, 100%, 72%);
  --text-color: hsl(0, 0%, 11%);
  --text-light-color: hsl(0, 0%, 22%);
  --border-color: #f7efe2;
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: #181c14;
    --accent-color: #3c3d37;
    --text-color: hsl(30, 3%, 86%);
    --text-light-color: hsl(40, 2%, 68%);
    --border-color: #3d3d3d;
  }
}

@theme inline {
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text: var(--text-color);
  --color-text-light: var(--text-light-color);
  --color-border: var(--border-color);
  --border-rounded-theme: var(--border-radius);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-poppins);
  --font-heading: var(--font-dancing);
  --width-dialog: 37.5rem;
  --aspect-ratio-third_one: 3 / 1;
  --max-height-dialog: 70vh;
  --min-height-about-me: 612px;
  --min-height-hobby: 112px;
  --shadow-theme: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  margin: 0;
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

.stepper {
  box-shadow: 2px 2px 0 #000;
  border: 4px solid #000;
  border-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}

@media print {
  body {
    margin: 0;
    padding: 20px;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: var(--color-surface);
  }
  .card {
    box-shadow: none !important;
    border: none !important;
  }

  .print-container {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: 32px;
  }
}
