@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-dancing: "Dancing Script", cursive;
  --surface-color: oklch(96.8% 0.007 247.896);
  --accent-color: oklch(98.4% 0.003 247.858);
  --primary-color: oklch(89.7% 0.196 126.665);
  --secondary-color-dark: oklch(70.7% 0.165 254.624);
  --secondary-color: oklch(48.8% 0.243 264.376);
  --text-color: oklch(20.8% 0.042 265.755);
  --text-light-color: oklch(37.2% 0.044 257.287);
  --border-color: oklch(27.9% 0.041 260.031);
  --hover-color: oklch(86.9% 0.022 252.894);
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-color: oklch(12.9% 0.042 264.695);
    --accent-color: oklch(20.8% 0.042 265.755);
    --text-color: oklch(96.8% 0.007 247.896);
    --text-light-color: oklch(86.9% 0.022 252.894);
    --border-color: oklch(27.9% 0.041 260.031);
    --hover-color: oklch(44.6% 0.043 257.281);
  }
}

@theme inline {
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text: var(--text-color);
  --color-text-light: var(--text-light-color);
  --color-border: var(--border-color);
  --color-hover: var(--hover-color);
  --border-rounded-theme: var(--border-radius);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-poppins);
  --font-heading: var(--font-dancing);
  --width-dialog: 37.5rem;
  --aspect-ratio-third_one: 3 / 1;
  --max-height-dialog: 70vh;
  --min-height-about-me: 612px;
  --min-height-hobby: 112px;
  --shadow-theme:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  margin: 0;
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

.stepper {
  box-shadow: 2px 2px 0 var(--secondary-color);
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}

@media print {
  body {
    margin: 0;
    padding: 20px;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: var(--color-surface);
  }
  .card {
    box-shadow: none !important;
    border: none !important;
  }

  .print-container {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: 32px;
  }
}
