@import "./fonts.css";
@import "tailwindcss";
@import "./animation.css";
@import "./theme.css";

body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
