@media print {
  body {
    margin: 0;
    padding: 20px;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: var(--color-surface);
  }
  .card {
    box-shadow: none !important;
    border: none !important;
  }

  .print-container {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: 32px;
  }
}
