@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.only-print {
  display: none;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: rgb(245, 245, 245);
  }

  .no-print {
    display: none; /* Hide elements like navbars or buttons */
  }

  .only-print {
    display: block;
  }

  .print-container {
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .page-break {
    page-break-before: always; /* Old browser support */
    break-before: page; /* Modern browsers */
  }

  .stepper-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    border-color: rgb(59 130 246);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-right-width: 16px;
    border-top-width: 16px;
    border-bottom-width: 16px;
  }

  .profile-name {
    -webkit-font-smoothing: none;
  }
}
