@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .profile {
    background: radial-gradient(
          circle at 100% 100%,
          #171717 0,
          #171717 12px,
          transparent 12px
        )
        0% 0%/16px 16px no-repeat,
      radial-gradient(
          circle at 0 100%,
          #171717 0,
          #171717 12px,
          transparent 12px
        )
        100% 0%/16px 16px no-repeat,
      radial-gradient(
          circle at 100% 0,
          #171717 0,
          #171717 12px,
          transparent 12px
        )
        0% 100%/16px 16px no-repeat,
      radial-gradient(circle at 0 0, #171717 0, #171717 12px, transparent 12px)
        100% 100%/16px 16px no-repeat,
      linear-gradient(#171717, #171717) 50% 50% / calc(100% - 8px)
        calc(100% - 32px) no-repeat,
      linear-gradient(#171717, #171717) 50% 50% / calc(100% - 32px)
        calc(100% - 8px) no-repeat,
      linear-gradient(191deg, #a855f7 10%, #22d3ee 100%);
  }
}

.only-print {
  display: none;
}

@media print {
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact; /* for better print color rendering */
    background-color: rgb(245, 245, 245);
  }

  .no-print {
    display: none; /* Hide elements like navbars or buttons */
  }

  .only-print {
    display: block;
  }

  .print-container {
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    box-sizing: border-box;
    page-break-inside: avoid;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    page-break-inside: avoid;

    .left-side {
      flex: 45%;
      /* margin-right: 20px; */
    }
    .right-side {
      flex: 55%;
      /* margin-left: 20px; */
    }
  }

  /* Optional scaling */
  html,
  body {
    zoom: 80%; /* Adjust based on your content */
  }

  .no-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .page-break {
    page-break-before: always; /* Old browser support */
    break-before: page; /* Modern browsers */
  }
}
